# Logs
logs
*.log
.log*

# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache